<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.marinovskiy.geekhubhometasks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ua.marinovskiy.geekhubhometasks.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hometask1.FirstHomeTaskActivity"
            android:label="@string/first_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask2.SecondHomeTaskActivity"
            android:label="@string/second_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask3.ThirdHomeTaskActivity"
            android:label="@string/third_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask4.activities.FourthHomeTaskActivity"
            android:label="@string/fourth_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask5.FifthHomeTaskActivity"
            android:label="@string/fifth_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask6.SixthHomeTaskListActivity"
            android:label="@string/six_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hometask6.SixthHomeTaskViewActivity"
            android:label="@string/six_ht_label"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
